

.container{
    display:flex;
   
}



.ThumbsUp{
    
    
    
    width: 50%;
    height: 50%;
    /*width:50vmin;
    height: 50vmin;*/
    
    
    
    margin-left: auto;
    margin-right: auto;
    color: #05aa3c;
    
}